@font-face {
  font-family: inter;
  src: url(/assets/fonts/Inter-VariableFont_slnt\,wght.ttf);
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
}
:root{
  /*Primary*/
  --soft-orange:rgb(233, 171, 83);
  --soft-red: rgb(241, 94, 80);
  /*Neutral*/
  --offwhite: 	rgb(255, 253, 250);
  --Greylish-blue: rgb(197, 198, 206);
  --Dark-greylishblue: 	rgb(93, 95, 121);
  --thick-dark-blue: rgb(0, 0, 26);
  /*font*/
  --font-size: 18px;
}

body{
  min-height: 100dvh;
  width: 70%;
  margin: auto;
  background-color: var(--offwhite);
  font-family: inter, sans-serif;
  
}

/* p{
  font-size: var(--font-size);
  font-weight: 400;
  color: var(--Dark-greylishblue);
  line-height: 2.5vh;
 
} */
header, .large-screen__nav{
  height: 12vh;
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
}
.large-screen__nav {
  gap: 2.5em;
  font-size: var(--font-size);
} 
li{
  font-weight: 500;
  color: var(--Dark-greylishblue);
}

li:hover, li:focus{
  color: var(--soft-orange);
}


#menu-icon{
  z-index: 999;
  font-size: 50px;
  display: none;
}
.small-screen__nav-menu{
  background-color: #fff;
  height: 100dvh;
  width: 65%;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: start;
  gap: 50px;
  position: fixed;
  top: 0;
  right: 0;
  transform: translate(-50, -50);
  padding-top: 130px;
  padding-left: 30px;

}

.small-screen__nav-menu:focus + body{
    filter: blur(4px);
    opacity: 0.8;
}
.small-screen__nav-menu li{
  display: flex;
  position: relative;
  color: #000;
  font-weight: 500;
  font-size: 15px;
}


@media (max-width: 450px){
  body{
    width: 90%;
    margin: auto;
  }
  header img{
    width: 15%;
  }
  #menu-icon{
    display: initial;
  }
  

  

}

.container {
  height: 100vh;
}
.hook-and-sidebar{
  display: flex;
  height: 52%;
}
.hook-content{
  width: 68%;
}
.hook-img{
  width: 95%;
  height: 55%;
}

.hook-img  img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.hook-info{
  height: auto;
  display: flex;
  gap: em;
  
  margin-top: 1.5em;
}
.hook-header{ 
  flex: .8;
  font-size: 50px;
  font-weight: 800;
  line-height: 5.5vh;
  margin-right: 0em;
}
.hook-text{
  flex: 1;
  margin-right: 4em;
}
.hook-text p{
  
}
.button{
  color: var(--offwhite);
  font-size: .8rem;
  font-weight: 700;
  text-align: center;
  background-color: var(--thick-dark-blue);
  padding: 1.1em 2.5em;
  margin-top: 2em;
  border: none;
  letter-spacing: .5em;
}
.sidebar{
  width: 32%;
  padding: 1.5em;
  display: flex;
  flex-direction: column;
  gap: 10px;
  background-color: var(--thick-dark-blue);
} 

.sidebar-header{
  font-size: 30px;
  font-weight: 800;
  color: var(--soft-orange);
  /* margin-bottom: .5em; */
}

.sidebar-text{
  border-bottom: .1px solid rgb(255, 253, 250, .6);
  padding-bottom: 20px;
}

.sidebar-text:has(.last){
  border: none;
  padding-bottom: 0;
  margin-bottom: -20em;
}
.subheader{
  color: var(--offwhite);
  margin: .5em 0;
}

.newspages{
  height: 30%;
  display: flex;
  justify-content: space-evenly;
  gwap: 5em;
  margin-top: -6em;
  margin-bottom: 2.5em;
}  
.newspage-content{
  width: 400px;
  display: flex;
  gap: 1.5em;
}

.news-img{
  width: 35%;
}
.blk{
  color: var(--thick-dark-blue);
}

span{
  font-size: 30px;
  font-weight: 700;
  color: var(--Greylish-blue);
}
.news p{
  /* width: 80%; */
  margin-right: 4em;
}
